.telas-criar-quizz {
    font-size: 20px;
    background-color: #e5e5e5;
    width: 99vw;
}
.titulo-criar-quizz {
    margin: 40px auto 20px auto;

}

.telas-criar-quizz ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}
.criar-quizz-comeco ul{
    height:256px;
}

.telas-criar-quizz li {
    margin: 5px auto;
}
.telas-criar-quizz li input {
    font-size: 19px;
    width: 92vw;
    height: 46px;
    color: #d1d1d1;
    font-style: italic;
    margin: 0 auto;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-left: 15px;
}
.subtitulo-criar-quizz {
    display: inline-block;
    width: 92vw;
    margin-top: 20px !important;
}
.botao-criacao-quizz {
    margin: 10px auto 0 auto;
    color: white;
    background-color: #EC362D;
    height: 54px;
    width: auto;
    box-sizing: content-box;
    padding: 0 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.respiro-li {
    margin-bottom: 20px !important;
}




@media (min-width: 1100px) {
}