nav {
    display: flex;
}
ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
.todos-os-quizzes p {
    display: inline-block;
    width: 95vw;
}
.todos-os-quizzes li {
    margin: 5px auto;
    background-image: url("../assets/simpson.jpg");
    background-size: 100%;
    width: 95vw;
    height: 181px;
    border-radius: 5px;
}
.degrade {
    background: linear-gradient(#FFFFFF00, black);
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: relative;
}

.todos-os-quizzes li span {
    position: absolute;
    margin: 0 5px;
    color: white;
    bottom: 10px;
    left: 5px;
}
