nav {
    display: flex;
    flex-direction: column;
}
ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.sem-quizzes {
    text-align: center;
    width: 92vw;
    height: 181px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: dashed 1px #D4D4D4;
    border-radius: 5px;
}
.sem-quizzes span {
    color: #D4D4D4;
    font-size: 20px;
    margin: 0 60px;
    line-height: 26.44px;
}
.criar-quizz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40px;
    color: #EC362D;
    border: dashed 1px #EC362D;
    border-radius: 50px;
}

.com-quizzes div {
    display: flex;
    justify-content: space-between;
}

.com-quizzes ion-icon {
    font-size: 30px;
    color: #EC362D;
}

.todos-os-quizzes ,
.seus-quizzes {
    width: 92vw;
    margin: 0 auto;
    margin-top: 50px;
}
.todos-os-quizzes p,
.com-quizzes p {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.todos-os-quizzes li,
.seus-quizzes li {
    margin: 5px auto;
    background-image: url("../assets/simpson.jpg");
    background-size: 100%;
    width: 100%;
    height: 181px;
    border-radius: 5px;
}
.degrade {
    background: linear-gradient(#FFFFFF00, black);
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: relative;
}

.todos-os-quizzes li span,
.seus-quizzes li span {
    position: absolute;
    margin: 0 5px;
    color: white;
    bottom: 10px;
    left: 5px;
}
