.pagina-quizz{
    display: flex;
    flex-direction: column;
    background-color: salmon;
    height: 600px;
    width: 100vw;
}
.topo-quizz{
    width: 100vw;
    height: 142px;
    background-image: url("../assets/hogwarts.png");
    background-size: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topo-quizz img{
    width: 100%;
    height: 100%;
}
.pergunta-quizz{
    background-color: #434ca0;
}