*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
strong {
    font-weight: bold;
}
header{
    height: 69px;
    width: 100vw;
    background-color: #EC362D;
    color: #ffffff;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 3px rgba(0, 4, 4, 0.25);
}
.escondido{
    /* display: none; */
}
