body {
    font-family: 'Roboto', sans-serif;
    margin-top: 60px;
}
strong {
    font-weight: bold;
}
header{
    height: 54px;
    background-color: #EC362D;
    color: #ffffff;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

li {
    background-image: url("assets/simpson-1000x600.jpg");
    width: 340px;
    border-radius: 5px;
    background: linear-gradient(black, rgba(82, 79, 79, 0));
}
